---
title: All Pages
---
extends layouts/_layout
block content
  .container
    .pages
      h1 All Pages
      ul
        li
          a(href="index.html") Home
        li
          a(href="purchase.html") Purchase
        li
          a(href="feedback.html") Feedback
        li
          a(href="offers.html") Offers
