//BEGIN pop-up
.nhance-app
  a(href="#").nhance-app__close
    .icon.icon-close
  .nhance-app__logo
    img(src="img/nhance-icon.png", alt="")
  .nhance-app__text
    h3 NHANCE NOW
    p By NHANCE NOW
  a(href="#").btn-custom.nhance-app__install Install


.bg
form.verify-otp#verify-otp
  .verify-otp__title
    p Please enter the OTP Sent to
    strong +91 8861380937
  .verify-otp__input
    input(type="number")
    .verify-otp__input__decor
      span
      span
      span
      span
      span
      span
  a(href="#").btn-resend-otp Resend OTP
    i.icon.icon-arrow-right
  a(href="" rel="modal:close").btn-verify-otp Verify 
//END pop-up