//BEGIN pop-up
.nhance-app
  a(href="#").nhance-app__close
    .icon.icon-close
  .nhance-app__logo
    img(src="img/nhance-icon.png", alt="")
  .nhance-app__text
    h3 NHANCE NOW
    p By NHANCE NOW
  a(href="#").btn-custom.nhance-app__install Install
//END pop-up